<div class="container">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

  <h3>Vote for Quotes</h3>
  <hr>
  <hr>
  <div *ngFor='let quote of quotes; let i=index'>
    <hr>
    <h5 class="quotedisplay" appHighlightbest> {{quote.quoteBody}} <small> <span class="showdetails" 
      (click)="toggleDetails(i)">Details</span></small></h5>
    <small> {{quote.date | timeAgo}} </small>
    <app-quote-details *ngIf="quote.showDetails" [quote]='quote' 
      (isObsolete) = 'deleteQuote($event,i)' (isLiked)='quoteLiked($event,i)' 
      (isDisliked)='quoteDisliked($event,i)'></app-quote-details>
    <hr>
  </div>
</div>
