.quotedisplay{
  font-family: 'Dancing Script', cursive;
  font-weight:bold;
  font-size:30px;
} 

.showdetails{
  float:right;
  font-size: 20px;
  font-weight:bold;
}

.displaydiv{
  padding:20px;
}

.highlight {
  background-color: lightgreen;
}